pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
librosa==0.10.0
numpy
opencv-contrib-python>=4.2.0.34
opencv-python
torch
torchvision
tqdm==4.45.0
numba
pymongo[srv]


